@model gotcha.Models.Draft

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Draft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            version
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

        <dt>
            id of machine
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.id_mach)
        </dd>

        <dt>
            id of part
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.id_part)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
